/* MOBILE & TABLET */
@media (max-width : 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* ON TABLET */
@media (min-width : 740px) and (max-width : 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* ON MOBILE */
@media (max-width : 739px) {
    .hide-on-mobile {
        display: none;
    }
}